.btn {
  margin-left: 8px;
  outline: none;
  border: none;
  height: 20px;
  border-radius: 4px;
  color: #fff;
  padding: 0 8px;
  font-size: smaller;
}

.btn.edit {
  background-color: #00ACAC;
}

.btn.status {
  background-color: #FF5B57;
}

.btn.status.active {
  background-color: #00ACAC;
}